
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>
        交通            </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width = device-width, initial-scale = 1.0, minimum-scale = 1.0, maximum-scale = 1.0, user-scalable = no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <!-- Link Swiper's CSS -->
    <link  href="../../css/traffic/style.css" rel="stylesheet">
    <script>
        window.use_screen_base = '640';
    </script>
    <script src="../../js/jquery-1.10.1.min.js" type="text/javascript"></script>
</head>
<body >


<section class="traffic">
    <ul>
        <li class="li1"><a href="">自驾游</a></li>
        <li class="li2"><a href="">航班查询</a></li>
        <li class="li3"><a href="">汽车查询</a></li>
        <li class="li4"><a href="">列车查询</a></li>
    </ul>
</section>
<section class="traffic">
    <ul>
        <li class="li5"><a href="">车俩租凭</a></li>
        <li class="li6"><a href="">机票代售点</a></li>
        <li class="li7"><a href="">火车票代售点</a></li>
    </ul>
</section>

<script type="text/javascript">
	(function(a,b){var c="orientationchange"in b?"orientationchange":"resize",d=use_screen_base.indexOf("_mate"),e=parseInt(use_screen_base),f=a.documentElement,g=function(){var a=f.clientWidth,c=b.innerWidth;f.style.fontSize=100*(c/e)+"px"};if(/iPad.*OS|iPhone.*OS/.test(navigator.userAgent)&&d>0){var h=a.querySelectorAll("meta[name=viewport]");h[0]&&h[0].setAttribute("content","width=device-width, user-scalable=no, initial-scale="+1/b.devicePixelRatio)}g(),b.addEventListener(c,g,!1),delete use_screen_base})(document,window);
</script>
<!-- 微信关注 -->

</body>
</html>