<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>线路预定</title>
    <link rel="shortcut icon" href="../../favicon.ico" />
    <link rel="bookmark" href="../../favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="../../css/weui.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/new-index.css">
    <script src="../../js/jquery.js" type="text/javascript"></script>
    <script src="../../js/jquery-1.10.1.min.js" type="text/javascript"></script>
    <script src="../../js/fastclick.js" type="text/javascript"></script>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_dyhwenj205yaatt9.css">
</head>
<style>
    .weui-cells:after {
        border: none;
    }
    .rem-order-time{
    	height: 20px;
    	line-height: 20px;
    	padding: 5px 0;
    	color:#808080;
    }
    .rem-order-time span:last-child{
    	color:#00B2FF;
    }
   
</style>
<body>
<div class="divBox" style="padding-bottom: 60px;">
    <!-- 标题信息-->
    <div class="ticket_order-title box">
        <h1 class="even-ellipsis">徐州出发刺激月亮湾漂流 轻松游浙西大峡谷</h1>
        <p class="rem-order-time">
        	<span>出发日期：</span>
        	<span class="right">2017-10-01 <i class="iconfont icon-x" style="font-size: 12px;"></i> </span>
        </p>
        <div class="tjt">
            <p style="font-size:13px;color:#777">
            	
            </p>
            <input type="hidden" name="ruzhu_start" value="2017-06-19" id="Kalendae1">
            <input type="hidden" name="ruzhu_end" value="2017-06-20" id="Kalendae2">
        </div>
        <!-- 酒店日期 购买数量-->
        <div class="ticket_order-btm" style="margin-top:5px">
            <div class="order-item box">
                <label>成人</label>
                <span style="color: #FF7572;">￥350/人</span>
                <div class="order-content">
                    <div class="num">
                    	<!--onclick="changeroom(1)"-->
                        <div class="left cut">
                            <i class="iconfont icon-jianhao"></i>
                        </div>
                        <span class="num-val acute_2">1</span>
                        <input value="1" class="acute" name="roomnum" type="hidden">
                        <!--onclick="changeroom(2)"-->
                        <div class="right addP addroom" >
                            <i class="iconfont icon-jiahao"></i>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="order-item box">
                <label>儿童</label>
                <span style="color: #FF7572;">￥150/人</span>
                <div class="order-content">
                    <div class="num">
                        <div class="left cut">
                            <i class="iconfont icon-jianhao"></i>
                        </div>
                        <span class="num-valC acute_2">1</span>
                        <input value="1" class="acute" name="roomnum" type="hidden">
                        <div class="right addC addroom" >
                            <i class="iconfont icon-jiahao"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--入住人信息-->
    <div class="qupiao-box box" style="padding-bottom:0;">
        <!--标题-->
        <p class="tlt">预定信息</p>
        <!--内容-->
        <div class="weui-cells weui-cells_form" style="margin-top:10px">

            <div class="ruzhu-content dk_tp30">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input tourist_name" type="text" placeholder="请输入姓名" name="tourist_name[]" validate="{required:true}">
                    </div>
                </div>
            </div>
            <!--<div class="weui-cell">-->
                <!--<div class="weui-cell__hd"><label class="weui-label">预定人</label></div>-->
                <!--<div class="weui-cell__bd">-->
                    <!--<input class="weui-input" type="text" placeholder="请输入预定人姓名" name="contact_name" validate="{required:true}">-->
                <!--</div>-->
            <!--</div>-->
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">手机</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入预定人手机号" name="contact_tel" validate="{required:true,isMobile:true}">
                </div>
                <div class="weui-cell_ft">
                    <a href="javascript:;" id="ts-btn2" style="display:inline-block">
                        <i class="weui-icon-info-circle"></i>
                    </a>
                </div>
            </div>
            
            <div class="ruzhu-content dk_tp30">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">身份类型</label></div>
                    <div class="weui-cell__bd">
                        <select name="" id="" style="border: none;width: 100%;height: 34px;">
                        	<option value="" selected="selected">身份证</option>
                        	<option value="" >军官证</option>
                        	<option value="" >护照</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">证件号</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入证件号" validate="{email:true}" name="email">
                </div>
            </div>

        </div>
    </div>
    
    <div class="qupiao-box box" style="padding-bottom:0;">
        <!--标题-->
        <div class="clearfix" >
        	<p class="tlt left" style="width: 200px;margin-top: 5px;">游玩人信息</p>
        	<p class="right" style="color: #FD817B;margin-right: 10px;">
        		<i class="iconfont icon-tianjia"></i>
        		添加游客
        	</p>
        </div>

        <!--内容-->
        <div class="weui-cells weui-cells_form" style="margin-top:10px">

            <div class="ruzhu-content dk_tp30">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">成人</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input tourist_name" type="text" placeholder="请输入姓名" name="tourist_name[]" validate="{required:true}">
                    </div>
                </div>
            </div>
            
            


        </div>
    </div>
</div>
<!--提交订单-->
<div class="sub-order-wrap">
    <div class="weui-cells mingxi-box none">
        <!--        <div class="weui-cell">-->
        <!--            <div class="weui-cell__bd">-->
        <!--                <p>待支付</p>-->
        <!--            </div>-->
        <!--            <div class="weui-cell__ft" style="color:#3fdbea">￥--><!--</div>-->
        <!--        </div>-->
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>成人（<span class="num_room">1</span>人）</p>
            </div>
            <div class="weui-cell__ft">￥<span class="dk_jiage1">900</span></div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>儿童（<span class="num_room">1</span>人）</p>
            </div>
            <div class="weui-cell__ft">￥<span class="dk_jiage1">200</span></div>
        </div>
    </div>
    <div class="sub-order-box">
        <p>待支付:￥<span class="dk_jiage2">900</span>
            <input type="hidden" name="order_account" value="900">
        </p>
        <span class="mingxi-btn">明细 <i class="iconfont icon-open-down" style="font-size:12px"></i></span>
        <div class="order-btn">
            <a href="./recommend-pay.html" id="showDialog">提交订单</a>
        </div>
    </div>
</div>
<!--蒙层-->
<div class="mask none"></div>
<!--验证信息弹框-->
<div class="js_dialog carDialog none" style="opacity:0;">
    <div class="weui-mask none"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__hd"><strong class="weui-dialog__title">温馨提示</strong></div>
        <div class="weui-dialog__bd" style="padding:1px 10px 10px 10px;text-align:left;">
            预订国内酒店需提供入住人的姓名，需与入住时所持证件一致。
        </div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default">取消</a>
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default btn_confirm">确认</a>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    window.alert = function(name){
        var iframe = document.createElement("IFRAME");
        iframe.style.display="none";
        iframe.setAttribute("src", 'data:text/plain,');
        document.documentElement.appendChild(iframe);
        window.frames[0].window.alert(name);
        iframe.parentNode.removeChild(iframe);
    }

    $("#ts-btn2").click(function(){
        alert("订单支付后，您将收到预定短信通知。");
    })
    //    特殊要求
    $("#yaoqiu-btn").click(function(){
        $(".yaoqiu").slideToggle();
        $(this).find("i").toggle();
    })
    //    价格明细
    $(".mingxi-btn").click(function(){
        $(".mingxi-box").slideToggle();
        $(".mask").fadeToggle();
    })
    $(".mask").click(function(){
        $(".mingxi-box").slideUp();
        $(".mask").fadeOut();
    })
    // 温馨提示弹框
    //    $("#showDialog").click(function(){
    //        $(".weui-mask").show();
    //        $(".js_dialog").css("opacity","1").show();
    //    })
    $(".weui-dialog__btn").click(function(){
        $(".weui-mask").hide();
        $(".js_dialog").css("opacity","0").hide();
    })
    //    发票展示切换
    $(".weui-switch").click(function(){
        $(".fapiao-content").slideToggle();
    })
    //  购买数量 成人
        var num = 1;
        $(".addP").click(function(){
            num = num+1;
            $(".num-val").text(num);
//          $(".ruzhu-content").append($(".ruzhu-content>div:first").clone(true));
        })
        $(".cut").click(function(){
            if(num == 1){
                num=1;
            }else{
                num = num-1;
//              $(".ruzhu-content>div:last").remove();
            }
            $(".num-val").text(num);
        })
        
            //  购买数量 儿童
        var numC = 1;
        $(".addC").click(function(){
            numC = numC+1;
            $(".num-valC").text(numC);
//          $(".ruzhu-content").append($(".ruzhu-content>div:first").clone(true));
        })
        $(".cut").click(function(){
            if(numC == 1){
                numC=1;
            }else{
                numC = numC-1;
//              $(".ruzhu-content>div:last").remove();
            }
            $(".num-valC").text(numC);
        })
</script>
</html>