<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<title>推荐线路详情</title>
	<link rel="shortcut icon" href="../../favicon.ico" />
	<link rel="bookmark" href="../../favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="../../css/default.css">
	<link rel="stylesheet" type="text/css" href="../../css/new-index.css">
	<script src="../../js/jquery.js" type="text/javascript"></script>
	<script src="../../js/jquery-1.10.1.min.js" type="text/javascript"></script>
	<script src="../../js/fastclick.js" type="text/javascript"></script>
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_325251_qnk88fxinxez5mi.css">
	<style>
		.re-nav div{
			width: 50%;
		}
		.jc{
			position: inherit;
			padding-left: 0;
		}
		.re-Four{
			padding: 10px 0;
			background: white;
		}
		
		.re-Four li{
			width: 23%;
			margin: 0 1%;
			float: left;
		}
		
		.re-Four li div{
			text-align: center;
			border:1px solid #A1A1A1 ;
		}
		
		.select-blue{
			color:#08BFF2;
			border:1px solid #08BFF2 !important;
		}
		.re-footer-ul{
			margin: 25px 0;
		}
		.re-footer-ul li{
			width: 50%;
			height: 50px;
			font-size: 16px;
			letter-spacing:2px;
			line-height: 50px;
			float: left;
			background: #00B2FF;
			color:white;
			text-align: center;
		}
		.re-footer-ul li:first-child{
			background: white;
			color: #888888;
		}
		.re-footer-ul li a{
			color: white;
		}
	</style>
</head>
<body>
	<div class="divbox">
		<!--banner-->
		<div class="hotel-banner box">
			<a href="javascript:;" id="photo-btn">
				<img src="../../jw-imgs/recom/ssss.png" alt="">
			</a>
			<!--蒙层-->
			<div class="banner-btm">
				<span class="tt">跟团游  徐州出发</span>
				<span class="right tt">产品编号:<span>933220</span>
				</span>
			</div>
		</div>
		<!--酒店信息-->
		<div class="hotel-detail-info box">
			<p style="font-size: 14px;">纯玩线路:徐州发出前往贾汪,潘安湖-督公湖随意畅玩。更有免费导游与您相伴</p>
			<div class="ticket-list-btm jc box">
						<span style="color:#fe756d;"><i class="iconfont icon-shoucang1"></i></span>
                        <span class="lvl">收藏:586次</span>
                        <span class="right">
                            <b style="color:#fe756d;">￥390</b>
                            起
                        </span>
                    </div>
		</div>
		<!--出团日期-->
		<div class="detaillist">
			<div class="ydfx-title" style="color: #1C1C1C;">出团日期</div>
			<ul class="re-Four clearfix">
				<li>
					<div>
						<p>2017-01-01</p>
						<p>￥290</p>
					</div>
				</li>
				<li>
					<div>
						<p>2017-01-01</p>
						<p>￥290</p>
					</div>
				</li>
				<li>
					<div>
						<p>2017-01-01</p>
						<p>￥290</p>
					</div>
				</li>
				<li>
					<div>
						<p>更多日期</p>
						<p>More</p>
					</div>
				</li>
			</ul>
		</div>
		<!--酒店环境 用户点评-->
		<div class="spot-box">
			<!--标题-->
			<div class="navWrap-box re-nav">
				<div class="nav-active">行程介绍</div>
				<div>温馨提示</div>
			</div>
			<!-- 景点介绍内容-->
			<div class="spot-info box">
				<!--<p class="title">产品经理推荐</p>-->
				<!--景区特色-->
				<div class="spot-ms box">
					<div class="detaillist">
						<div class="ydfx-title" style="color: #000000;border: none;padding-left: 0;">行程介绍</div>
						<p >作为全国首个煤矿塌陷区生态修复的湿地公园，潘安湖湿地公园是集“基本农田整理，采煤塌陷地复垦，生态环境修复，湿地景观开发”四位一体的建设模式。</p>
					</div>
					<p class="tt">景区特色</p>
					<p>徐州顺河假日街道提供停车位，景点接送服务，极大的方便了宾客的出行。宾客还可以享受早餐，早餐清淡营养。凡住宿宾客在大堂就餐一律打折。
						古今斋以人性化服务与江南水乡风情完美融合，为宾客缔造一个尊贵雅致的生活环境。</p>
					<div class="spot-img">
						<img src="../jw-imgs/8.png" alt="">
					</div>
				</div>
				<!--酒店特色-->
				<div class="spot-ms box">
					<p class="tt">酒店特色</p>
					<p>酒店幽静典雅，高端大气，智能客控系统贴心服务；集客房、会议、餐厅于一体，有大型停车场；房间宽敞、时尚、舒适。</p>
				</div>
			</div>
			<!--预订须知-->
			<div class="spot-info box">
				<div class="detaillist">
					<div class="ydfx-title" style="color: #000000;border: none;">温馨提示</div>
					<p style="padding-left: 10px;">进入景区请注意游览安全，并保管好随身物品，未成年人必须有成年人监护并保持随时照顾，勿在河边嬉水，攀登跨越栏杆，坐游船请勿超员；</p>
				</div>
				<div class="xuzhi-content">
					<span>入住和离店</span>
					<p>入住时间：14:00以后 离店时间：12:00以前</p>
					<span>儿童政策</span>
					<p>不接受18岁以下客人单独入住</p>
					<span>膳食安排</span>
					<p>自助早餐 RMB 25</p>
					<span>宠物</span>
					<p>不可携带宠物</p>
				</div>
			</div>
			<!--点评内容-->
			
		</div>
	</div>

<footer >
	<ul class="re-footer-ul">
		<li>
			<i class="iconfont icon-24xiaoshidianhua" style="color: #10AEFF;"></i>电话咨询
		</li>
		<li>
			<a href="./recommend-order.html">
				立即预定
			</a>
		</li>
	</ul>
</footer>

</body>
<script>
    //        导航菜单
    $(function(){
        var hh=$(".navWrap-box").offset().top;
//          滚动判断菜单固定定位
        $(document).scroll(function () {
            var nav = $('.navWrap-box');
            var scroll = $(this).scrollTop();
            if (scroll > hh) {
                nav.addClass("navboxfix");
            } else {
                nav.removeClass("navboxfix");
            }
//            页面滚动导航栏相应位置导航高亮显示
            var content1=$(".spot-info").eq(1).offset().top-nav.height()-1;
            if(scroll<content1){
                $('.navWrap-box').find("div").eq(0).addClass("nav-active").siblings().removeClass("nav-active");
            }else if(scroll>content1){
                $('.navWrap-box').find("div").eq(1).addClass("nav-active").siblings().removeClass("nav-active");
            }
        });
//          点击导航栏内容滚动响应位置
        $(".navWrap-box").find("div").each(function(index){
            $(this).click(function(){
                var nav = $('.navWrap-box');
//                   导航高亮效果
                $(this).addClass("nav-active").siblings().removeClass("nav-active");
                //页面滚动的距离
                var toTop = $(".spot-info").eq(index).offset().top - nav.height();
                $('html,body').scrollTop(toTop);
            })
        })
    });
    //    房间信息
    $(".room-toggle").click(function(){
        $(this).parent().next().slideToggle();
        $(this).find("i").toggle();
    })
    //    附近酒店 浏览记录
    $(".his").click(function(){
        $(this).addClass("other-active").siblings().removeClass("other-active");
        $(".histroy").show();
        $(".fj").hide();
    })
    $(".fjhotel").click(function(){
        $(this).addClass("other-active").siblings().removeClass("other-active");
        $(".histroy").hide();
        $(".fj").show();
    })
    //  打开门票相册
    $("#photo-btn").click(function(){
        $(".photo-box").show();
        $(".hotel-type-list").eq(0).click();
        $(".photo-list").find("img").eq(0).click();
    })
    //  关闭门票相册
    $("#back-btn").click(function(){
        $(".photo-box").hide();
    })
    //  点击酒店类型选择
    $(".hotel-type-list").click(function(){
        $(this).addClass("photo-active").siblings().removeClass("photo-active");
        $(".hotel-type").text($(this).text());
    })
    //  点击图片显示蓝色边框 其他图片蓝框消失
    $(".photo-list").find("img").click(function(){
        $(this).addClass("photo-active");
        $(this).parent().siblings().find("img").removeClass("photo-active");
        $(".photo-banner").find("img").attr("src",$(this).attr("src")).attr("data-val",$(this).attr("data-val"));
//  照片索引
        numIndex = $(".photo-banner").find("img").attr("data-val")*1;
        $("#index").text(numIndex+1);
    })
    //  照片总数
    var numAll = $(".photo-list").find("li").size();
    $(".all").text(numAll);
    //  后一张
    $(".next").click(function(){
        numIndex = $(".photo-banner").find("img").attr("data-val")*1;
        $(".photo-list").find("img").eq(numIndex+1).click();
    })
    //  前一张
    $(".pre").click(function(){
        numIndex = $(".photo-banner").find("img").attr("data-val")*1;
        if(numIndex==0){
            return false;
        }else{
            $(".photo-list").find("img").eq(numIndex-1).click();
        }
    })
    
    
    //选择日期
    $('.re-Four li div').click(function(){
    	$('.re-Four li div').removeClass("select-blue");
    	$(this).addClass("select-blue");
    })

</script>
</html>















