<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>推荐线路</title>
    <link rel="shortcut icon" href="../favicon.ico" />
    <link rel="bookmark" href="../favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="../../css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/new-index.css">
    <script src="../../js/jquery.js" type="text/javascript"></script>
    <script src="../../js/jquery-1.10.1.min.js" type="text/javascript"></script>
    <!--<script src="../../js/swiper.min.js"></script>-->
    <script src="../../js/fastclick.js" type="text/javascript"></script>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_dyhwenj205yaatt9.css">
    
    <style>
    	.ticket-list .ticket-list-info b{
    		color:#FF7572;
    	}
    	/*.ticket-list-imgBox{
    		position: relative;
    	}*/
    	.ticket-list-imgBox p{
    		position: absolute;
		    left: 5px;
		    width: 125px;
		    height: 88px;
		    color: white;
    		bottom: 10px;
    		background: black;
    		opacity: 0.6;
    		width: 125px;
    		height: 25px;
    		line-height: 25px;
    	}
    </style>
    
</head>
<body>
    <div class="divBox">
        <div class="temp none"></div>
        <!--轮播图-->
        <div class="ticket_bannerWrap" style="margin-bottom: 10px;">
            <div class="swiper-container" style="height:3rem">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../../jw-imgs/recom/banner.png">
                    </div>
                    <!--<div class="swiper-slide">
                        <img src="../../jw-imgs/ban6.jpg">
                    </div>-->
                </div>
                <!--<div class="swiper-pagination"></div>-->
            </div>
            <!--<script>
                var swiper = new Swiper('.swiper-container', {
                    pagination: '.swiper-pagination',
                    paginationClickable: true,
                    touchRatio : 0.5,
                    loop:true,
                    speed:1000,
                    autoplay: 3000,
                    autoplayDisableOnInteraction: false
                });
            </script>-->
            <!--搜索-->
            <div class="ticket_search_box">
                <div class="ticket_seach_main" style="background:white;opacity: 0.8;">
                    <i class="iconfont icon-tubiaozitihua11"></i>
                    	搜索
                </div>
            </div>
        </div>
        <!--门票列表-->
        <div class="ticket-list-box">
            <div class="ticket-list-head clearfix">
                <div class="ticket-menu">
                    排序
                    <i class="iconfont icon-x"></i>
                    <!--<i class="iconfont icon-s none"></i>-->
                </div>
                <div class="ticket-menu">
                    筛选
                    <i class="iconfont icon-x"></i>
                    <!--<i class="iconfont icon-s none"></i>-->
                </div>
                <div class="menu-content box none">
                    <ul>
                        <li class="b-color item-li">
                            <a >
                                推荐排序
                                <i class="iconfont icon-duigou right"></i>
                            </a>
                        </li>
                        <li class="item-li">
                            <a >
                                近期销量最高
                                <i class="iconfont icon-duigou right none"></i>
                            </a>
                        </li>
                        <li class="item-li">
                            <a >
                                价格由高到低
                                <i class="iconfont icon-duigou right none"></i>
                            </a>
                        </li>
                        <li class="item-li">
                            <a >
                                价格由低到高
                                <i class="iconfont icon-duigou right none"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="menu-content box none">
                    <ul>
                        <li class="b-color item-li">
                            <a >
                                5A景区
                                <i class="iconfont icon-duigou right"></i>
                            </a>
                        </li>
                        <li class="item-li">
                            <a >
                               特价
                                <i class="iconfont icon-duigou right none"></i>
                            </a>
                        </li>
                        <li class="item-li">
                            <a >
                                纯玩
                                <i class="iconfont icon-duigou right none"></i>
                            </a>
                        </li>
                        <li class="item-li">
                            <a >
                                休闲
                                <i class="iconfont icon-duigou right none"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ticket-list box">
            	<div class="ticket-list-imgBox">
            		<img src="../../jw-imgs/recom/rem01.png" alt="">
            		<p>
            			<i class="iconfont icon-xl"></i><span>跟团游 | 徐州出发 </span>
            		</p>
            	</div>
                <div class="ticket-list-info box">
                    <h1 class="odd-ellipsis">潘安湖2日游</h1>
                    <p class="odd-ellipsis">出团日期： 09-01,09-02,09-03</p>
                    <span class="ticket-bz box tk-color-b">AAAAA级</span>
                    <span class="ticket-bz box tk-color-g">特价</span>
                    <div class="ticket-list-btm box">
                        <span class="lvl" style="color: #2EA1F1;">评分:5.0</span>
                        <span class="right">
                            <b>￥390</b>
                            起
                        </span>
                    </div>
                </div>
            </div>
            <div class="ticket-list box">
                <div class="ticket-list-imgBox">
            		<img src="../../jw-imgs/recom/rem02.png" alt="">
            		<p>
            			<i class="iconfont icon-xl"></i><span>跟团游 | 徐州出发 </span>
            		</p>
            	</div>
                <div class="ticket-list-info box">
                    <h1 class="odd-ellipsis">徐州薰衣草园</h1>
                    <p class="odd-ellipsis">出团日期： 09-01,09-02,09-03</p>
                    <span class="ticket-bz tk-color-r">休闲</span>
                    <span class="ticket-bz box tk-color-g">特价</span>
                    <div class="ticket-list-btm box">
                        <span class="lvl" style="color: #2EA1F1;">评分:5.0</span>
                        <span class="right">
                            <b>￥390</b>
                            起
                        </span>
                    </div>
                </div>
            </div>
            <div class="ticket-list box">
                <div class="ticket-list-imgBox">
            		<img src="../../jw-imgs/recom/rem03.png" alt="">
            		<p>
            			<i class="iconfont icon-xl"></i><span>自助游</span>
            		</p>
            	</div>
                <div class="ticket-list-info box">
                    <h1 class="odd-ellipsis">徐州帆船节</h1>
                    <p class="odd-ellipsis">出团日期： 09-01,09-02,09-03</p>
                    <span class="ticket-bz tk-color-r">100%纯玩</span>
                    <span class="ticket-bz box tk-color-g">特价</span>
                    <div class="ticket-list-btm box">
                        <span class="lvl" style="color: #2EA1F1;">评分:5.0</span>
                        <span class="right">
                            <b>￥390</b>
                            起
                        </span>
                    </div>
                </div>
            </div>
            <div class="ticket-list box">
                <div class="ticket-list-imgBox">
            		<img src="../../jw-imgs/recom/rem04.png" alt="">
            		<p>
            			<i class="iconfont icon-xl"></i><span>自助游</span>
            		</p>
            	</div>
                <div class="ticket-list-info box">
                    <h1 class="odd-ellipsis">安徽农家采风</h1>
                    <p class="odd-ellipsis">出团日期： 09-01,09-02,09-03</p>
                    <span class="ticket-bz box tk-color-g">特价</span>
                    <div class="ticket-list-btm box">
                        <span class="lvl" style="color: #2EA1F1;">评分:5.0</span>
                        <span class="right">
                            <b>￥390</b>
                            起
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--返回顶部-->
    <a href="javascript:;" class="gotop none">
        <div class="gotop-box">
            <i class="iconfont icon-top"></i>
            <p style="margin-top:-6px">顶部</p>
        </div>
    </a>
</body>
<script>
    $(function() {
        FastClick.attach(document.body);
    });
//    点击菜单
    $(".ticket-list-head").find(".ticket-menu").each(function(index){
        $(this).click(function(){
            if($(this).hasClass("active")){
                $(".temp").hide();
                $(this).removeClass("active");
                $(this).find(".icon-x").css("transform","rotate(0deg)").css("display","inline-block");
                $(".menu-content").hide();
            }else{
                $(".temp").show();
                $(this).addClass("active").siblings().removeClass("active");
                $(this).siblings().find(".icon-x").css("transform","rotate(0deg)").css("display","inline-block");
                $(this).find(".icon-x").css("transform","rotate(-180deg)").css("display","inline-block");
                $(".menu-content").hide().eq(index).show();
            }
        })
    })
//    点击蒙层
    $(".temp").click(function(){
        $(".temp").hide();
        $(".menu-content").hide();
        $(".ticket-menu").find(".icon-x").css("transform","rotate(0deg)").css("display","inline-block");
        $(".ticket-menu").removeClass("active");
    })
//	内容选择
    $(".menu-content").find(".item-li").click(function(){
        $(this).siblings().find("i").hide();
        $(this).find("i").show();
        $(this).addClass("b-color").siblings().removeClass("b-color");
    })
    //	选中刷新
    $(".menu-content").find(".item-li").click(function(){
        $(".ticket-menu").find(".icon-x").css("transform","rotate(0deg)").css("display","inline-block");
        $(".ticket-menu").removeClass("active");
        $(".menu-content").hide();
        $(".temp").hide();
    })
    //返回顶部
    $(window).scroll(function(){
        if ($(window).scrollTop()>10){
            $(".gotop").show();
        }else{
            $(".gotop").hide();
        }
    });
    //当点击跳转链接后，回到页面顶部位置
    $(".gotop").click(function(){
        $('body,html').animate({scrollTop:0},500);
        return false;
    });
    
    //临时跳详情页
    $('.ticket-list').click(function(){
    	window.location.href='./recommend-detail.html';
    })
</script>
</html>