    #container{
        width: 100%;
        height: 100vh;
        float: left;
        position: relative;
    }
    .daohang{
        position: absolute;
        top:15%;
        left:8px;
        width: 30%;
    }
    table{
        width: 100%;
    }
    .daohang tr{
        height: 50px;
        width: 100%;
    }
    .daohang td{
        width: 30%;
        text-align: left;
    }
    .daohang span{
        display: none;
        margin-top: 20px;
    }
    .daohang td img{
        width: 38px;
        background: #fff;
        border-radius: 6px;
        vertical-align: middle;
    }
    /*导航菜单*/
    .map-nav{
        position: absolute;
        left:50%;
        margin-left: -125px;
        top:20px;
        height: 28px;
        line-height: 26px;
        background: #fff;
        font-size: 14px;
        width: 250px;
        border: 1px solid #33b3f2;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }
    .map-nav>div{
        float: left;
        width: 25%;
        text-align: center;
        border-right: 1px solid #33b3f2;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .map-nav>div a{
        color: #33b3f2;
    }
    .map-nav>div:last-child{
        border-right: 0;
    }
    .nav-active{
        background: #33b3f2;
    }
    .nav-active a{
        color: #fff !important;
    }

    .info {
        border: solid 1px silver;
    }
    div.info-top {
        position: relative;
        background: none repeat scroll 0 0 #F9F9F9;
        border-bottom: 1px solid #CCC;
        border-radius: 5px 5px 0 0;
    }
    div.info-top div {
        display: inline-block;
        color: #333333;
        font-size: 14px;
        font-weight: bold;
        line-height: 31px;
        padding: 0 10px;
    }
    div.info-top img {
        position: absolute;
        top: 10px;
        right: 10px;
        transition-duration: 0.25s;
    }
    div.info-top img:hover {
        box-shadow: 0px 0px 5px #000;
    }
    div.info-middle {
        font-size: 12px;
        padding: 6px;
        line-height: 20px;
    }
    div.info-bottom {
        height: 0px;
        width: 100%;
        clear: both;
        text-align: center;
    }
    div.info-bottom img {
        position: relative;
        z-index: 104;
    }
    span {
        margin-left: 5px;
        font-size: 11px;
    }
    .info-middle img {
        float: left;
        margin-right: 6px;
    }
    .amap-marker-label{
        border-radius: 6px;
        border-color: #ffffff;
        box-shadow: -1px -1px #999 inset;
    }
    .amap-marker-label a{
        color: #000;
        text-decoration: none;
    }
    #scale{
        position: absolute;
        top: 94%;
        left: 2%;
        z-index: 999;
    }
    #scale a{
        width: 60px;
        display: inline-block;
        text-align: center;
        line-height: 30px;
    }
    #scale a:first-child{
        background-color: #A5DD62;
    }
    #scale a:nth-child(2){
        background-color: #F5A623;
    }
    #scale a:last-child{
        background-color: #EB1014;
    }
    .amap-logo,.amap-copyright{     /*去掉地图LOGO*/
        display: none!important;
    }
