
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>个人中心</title>
    <meta name="keywords" content="暂无简介" />
    <meta name="description" content="暂无简介" />
    <link rel="shortcut icon" href="../../favicon.ico"  type="image/x-icon">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">
     <!--<link rel="stylesheet" href="http://nbbc.66diqiu.com/static/template/tiyan/mobile/css/style.css?_=22121" type="text/css">
    <link rel="stylesheet" href="http://nbbc.66diqiu.com/static/template/tiyan/mobile/css/dl.css" type="text/css">-->
    <link href="http://nbbc.66diqiu.com/static/template/tiyan/mobile/css/component.css" rel="stylesheet" type="text/css" />
    <style type="text/css">.content table td{ border:1px solid} .swiper-container {width: 100%; }   .swiper-container img{width: 100%;}  </style>    
    <link rel="stylesheet" type="text/css" href="../../css/dialog.css" />
    <link rel="stylesheet" type="text/css" href="../../fonts/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/weui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/default.css"/>
    <script src="../../js/jquery-1.10.1.min.js"></script>

</head>
<body>

<link rel="stylesheet" type="text/css" href="http://nbbc.66diqiu.com/static/template/tiyan/mobile/new_css/myInfo.css"/>
<!--引入CSS-->

<!--页面内容开始-->
<div class="divBox box">
    <!-- 头部信息 -->
<!--    
    <i class="iconfont icon-wodeshoucang">
    	
    </i>-->
    <article class="user-box box">
        <div class="user-bg">
            <img src="http://nbbc.66diqiu.com/static/template/tiyan/mobile/new_img/user-bg1.png">
        </div>
        <a href="./userInfo.html" style="display: block;">
        <div class="user-content box">
            <div class="user-head">
                <img id="avatar_box"  src="../../jw-imgs/10.png">
<!--                <div  id="filePicker" style="position: absolute;top: 0;left: 0;opacity:0;right: 0;bottom: 0;"></div>-->
            </div>
            <p style="margin-top: 15px">hello</p>
            <p>18905341278</p>
        </div>
        </a>
            </article>
    <!-- 个人列表 -->
    <article class="user-cells">
        <div class="weui-media-box weui-media-box_small-appmsg">
            <div class="weui-cells">
            	
            	<a class="weui-cell weui-cell_access" href="./collect.html">
                    <div class="weui-cell__hd">
                        <i class="fa fa-star-o fa-lg fa-fw" style="color:#ff756e;"></i>
                    </div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>我的收藏</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
            	
                <a class="weui-cell weui-cell_access info-active" href="javascript:;">
                    <div class="weui-cell__hd">
                        <i class="fa fa-file-text-o fa-lg fa-fw" style="color:#ffd274;"></i>
                    </div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>我的订单</p>
                    </div>
                    <span class="weui-cell__ft" style="transform:rotate(90deg);"></span>
                </a>
                <div class="info-list-box box none">
                	<p>
                        <a href="./hotel-list.html">
                            酒店订单 <i class="fa fa-angle-right"></i>
                        </a>
                    </p>
                    <p>
                        <a href="./ticket-list.html">
                            门票订单 <i class="fa fa-angle-right"></i>
                        </a>
                    </p>
                    <p>
                        <a href="./line-list.html">
                            线路订单 <i class="fa fa-angle-right"></i>
                        </a>
                    </p>
                    <p>
                        <a href="./legend-list.html">
                            名宿 <i class="fa fa-angle-right"></i>
                        </a>
                    </p>
                    <p>
                        <a href="./farm-list.html">
                            农家乐 <i class="fa fa-angle-right"></i>
                        </a>
                    </p>
                </div>
                <a class="weui-cell weui-cell_access" >  <!--href="http://nbbc.66diqiu.com/mobile/member/bonus_list"-->
                    <div class="weui-cell__hd">
                        <i class="fa fa-money fa-lg fa-fw" style="color:#ffd274;"></i>
                    </div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>我的点评</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
                <a class="weui-cell weui-cell_access" >  <!--href="http://nbbc.66diqiu.com/mobile/member/bank_profile"-->
                    <div class="weui-cell__hd">
                        <i class="fa fa-credit-card fa-lg fa-fw" style="color:#4df6f9;"></i>
                    </div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>我的积分</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
<!--                <a class="weui-cell weui-cell_access" href="--><!--">-->
<!--                    <div class="weui-cell__hd">-->
<!--                        <i class="fa fa-list-alt fa-lg fa-fw" style="color:#ffd274;"></i>-->
<!--                    </div>-->
<!--                    <div class="weui-cell__bd weui-cell_primary">-->
<!--                        <p>个人信息</p>-->
<!--                    </div>-->
<!--                    <span class="weui-cell__ft"></span>-->
<!--                </a>-->
                <a class="weui-cell weui-cell_access">  <!--href="http://nbbc.66diqiu.com/mobile/member/forgot"-->
                    <div class="weui-cell__hd">
                        <i class="fa fa-expeditedssl fa-lg fa-fw" style="color:#ff756e;"></i>
                    </div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>账号安全</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
            
            </div>
            
            <div class="weui-cells" style="margin-top: 1.2rem;">
            	<a class="weui-cell weui-cell_access" href="javascript:;">  <!--onclick="wx_login('');return false;"-->
                    <div class="weui-cell__hd">
                        <i class="fa fa-weixin fa-lg fa-fw"  style="color:#4df6f9;"></i>
                    </div>
                    <div class="weui-cell__bd weui-cell_primary">
                        绑定微信                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
            	
            </div>
            
        </div>
    </article>
    <!-- 退出登录-->
    <div class="back-btn box">
        <a href="../../login.html" class="weui-btn weui-btn_default" style="color: white;">退 出 登 录</a>
    </div>
</div>
<script>
//    列表下拉切换
    $(".info-active").click(function(){
        if($(this).hasClass("color-bg")){
            $(this).removeClass("color-bg");
            $(this).find(".weui-cell__ft").css("transform","rotate(90deg)");
            $(this).next().slideUp();
        }else{
            $(this).addClass("color-bg");
            $(this).find(".weui-cell__ft").css("transform","rotate(-90deg)");
            $(this).next().slideDown();
        }
    })
  
</script>
