
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>【测试】千岛湖-杭州西湖-花港观鱼-桐庐瑶琳仙境-奇幻灯光秀2日游_掌旅宝组团社公司名称</title>
    <meta name="keywords" content="南京白下区到[杭州]旅游,南京白下区到[杭州]旅游报价,南京白下区出发到[杭州]旅游" />
    <meta name="description" content="掌旅宝组团社公司名称提供最及时全面的南京白下区到【测试】千岛湖-杭州西湖-花港观鱼-桐庐瑶琳仙境-奇幻灯光秀2日游旅游线路及报价,优惠的价格, 优质的服务，免费咨询。掌旅宝组团社公司名称" />
    <link rel="shortcut icon" href="http://photo.66diqiu.com/uploads/100002/favicon.jpg" mce_href="http://photo.66diqiu.com/uploads/100002/favicon.jpg" type="image/x-icon">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">
     <link rel="stylesheet" href="http://nbbc.66diqiu.com/static/template/tiyan/mobile/css/style.css?_=22121" type="text/css">
<!--    <link rel="stylesheet" href="--><!--static/template/--><!--/mobile/css/base.css?_=22121" type="text/css">-->
    <link rel="stylesheet" href="http://nbbc.66diqiu.com/static/template/tiyan/mobile/css/dl.css" type="text/css">
    <link href="http://nbbc.66diqiu.com/static/template/tiyan/mobile/css/component.css" rel="stylesheet" type="text/css" />
    <style type="text/css">.content table td{ border:1px solid} .swiper-container {width: 100%; }   .swiper-container img{width: 100%;}  </style>    <link rel="stylesheet" type="text/css" href="http://nbbc.66diqiu.com/static/template/tiyan/mobile/css/dialog.css" />
    <link rel="stylesheet" type="text/css" href="../../fonts/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/weui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/default.css"/>
    <script src="../../js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="http://nbbc.66diqiu.com/static/template/tiyan/mobile/js/mobilecommon.js"></script>
    <script type="text/javascript" src="http://nbbc.66diqiu.com/static/template/tiyan/mobile/js/slider.js"></script>
    <script type="text/javascript" src="http://nbbc.66diqiu.com/static/template/tiyan/mobile/js/dialog.js"></script>
    <script type="text/javascript" src="http://nbbc.66diqiu.com/static/template/tiyan/mobile/js/jquery.lazyload.js"></script>
    <script type="text/javascript">
        var baseurl = 'http://nbbc.66diqiu.com',
            basemobileurl = 'http://nbbc.66diqiu.com/mobile/index',
            ADMINID = 0,
            USERID = 104646,
            loginUrl = 'http://nbbc.66diqiu.com/mobile/member/logout' ;
        function unset_login(){
            $.post(loginUrl,{
                action:'unset'
            },function(data){
                var json = eval("("+data+")");
                if(json['status']=='1'){
                    if(json['action']=='unset'){
                        window.location.reload();
                    }
                }
            })
        }
    </script>
</head>
<body>

<link rel="stylesheet" type="text/css" href="http://nbbc.66diqiu.com/static/template/tiyan/mobile/new_css/line-detail.css"/>

<!-- 页面内容开始 -->
<div class="divBox box">
    <!-- 产品详情 -->
    <header class="detail-top">
        <div class="detail-img">
            <img src="http://photo.66diqiu.com/uploads/756/ue/image/20141222/1419216610744697.jpg" data-original="http://photo.66diqiu.com/uploads/756/ue/image/20141222/1419216610744697.jpg" />
        </div>
        <div class="detail-shadow box">
            <span class="detail-shadow-l">南京出发 | 跟团游</span>
            <span class="detail-shadow-r">产品编号：933489</span>
        </div>
    </header>
    <!-- 旅游线路标题 -->
    <article class="detail-title box">
        <p>【测试】千岛湖-杭州西湖-花港观鱼-桐庐瑶琳仙境-奇幻灯光秀2日游</p>
    </article>
    <!-- 浏览量分享量 -->
    <div class="num box">
        <span class="browse">浏览量：4863</span>
<!--        <span class="share">分享量：--><!--</span>-->
    </div>
    <!-- 销售价 -->
    <div class="detail-price box">
        销售价 <span><strong>暂无价格</strong></span>
                    <a href="tel:025-66066606"><span class="paybtn">电询</span> </a>
            </div>
    <!-- 出发团期 -->
    <section class="detail-date box">
        <div class="title box">
            <i class="fa fa-calendar"></i>
            <span>出发团期</span>
        </div>
        <div class="date-content box">
            <div class="date-content-top">
                <span class="odd-ellipsis box">最近团期：</span>
            </div>
            <table class="tab none">
                <thead>
                <tr>
                    <td width="30%">日期</td>
                    <td>成人</td>
                                        <td>儿童</td>
                                    </tr>
                </thead>
                <tbody>
                                </tbody>
            </table>
            <div class="chek">
                <a href="javascript:;" class="chek-date">
                    <em style="font-style: normal">查看详情</em>
                    <i class="fa fa-angle-down"></i>
                </a>
            </div>
        </div>
    </section>
    <!-- 产品特色 -->
    <section class="detail-point">
        <div class="title box">
            <i class="fa fa-star-half-empty"></i>
            <span>产品特色</span>
        </div>
        <div class="point-content box">
            <p>“上有天堂，下有苏杭”。著名的意大利旅行家马可波罗称杭州为“最美丽华贵的城市”。 千岛湖镇是一座湖泊中的绿色之城，和谐之城、魅力之城。桐庐县，镶嵌在浙西北的翡翠，撒落在富春江畔的一颗璀璨明珠！</p>
        </div>
    </section>
    <!-- 行程介绍 -->
    <section class="place-point">
        <div class="title box">
            <i class="fa fa-calendar-minus-o"></i>
            <span>行程介绍</span>
        </div>
        <div class="place-content box">
            <div class="place-item-box box">
                                    <div class="place box">
                        <i class="fa fa-circle-o"></i>
                        <p class="place-title box">
                            <span>DAY1&nbsp;&nbsp;</span>
                            南京&nbsp;
                            <i style="color:#ff756e; " class="fa fa-bus"></i>&nbsp;&nbsp;杭州&nbsp;
                            <i style="color:#ff756e; " class="fa fa-bus"></i>&nbsp;&nbsp;桐庐                        </p>
                        <p class="line-xcms">
                            行程描述:
                            <a href="javascript:;" class="line-top">
                                <i class="fa fa-angle-down fa-lg"></i>
                            </a>
                        </p>
                        <div class="txt bottom-unline none">
                            <span>游【西湖】：漫步苏堤，途经雷峰塔、长桥、钱塘江、六和塔。【乘船游西湖】（35元/人，任何证件无效均不退款，约40分钟）：途经三潭印月、阮公墩、湖心亭、平湖秋月、断桥等。<br />
游有“全国诸洞冠”之称的【瑶琳仙境】（自理）在18摄氏度的天然大空调中感受清凉，参观瑰丽多姿的群石奇观，探寻亿万年前卡斯特地貌形成的奥秘。感受神奇的地下世界，景随人走，步移景换，动感十足。游华东地区首家奇幻灯光秀。为您带来超级的感官享受。 </span>
                            <div class="photo-list-wrap box clearfix">
                                                                                                                                                        <div class="photo box">
                                                <img alt="" class="lazy" onerror="this.error=null;this.src='http://nbbc.66diqiu.com/static/public/images/nophoto.jpg'" src="http://image.66diqiu.cn/www/66diqiu/20110629/瑶琳仙镜1.jpg" style="display: inline-block;">
                                                <p class="img-title">瑶琳仙境</p>
                                            </div>
                                                                                                                                                                                                                                    <div class="photo box">
                                                <img alt="" class="lazy" onerror="this.error=null;this.src='http://nbbc.66diqiu.com/static/public/images/nophoto.jpg'" src="http://photo.66diqiu.com/uploads/756/ue/image/20141127/1417056702367185.jpg" style="display: inline-block;">
                                                <p class="img-title">杭州西湖</p>
                                            </div>
                                                                                                                                                                <div class="photo box">
                                                <img alt="" class="lazy" onerror="this.error=null;this.src='http://nbbc.66diqiu.com/static/public/images/nophoto.jpg'" src="http://photo.66diqiu.com/uploads/756/ue/image/20141127/1417056702958909.jpg" style="display: inline-block;">
                                                <p class="img-title">杭州西湖</p>
                                            </div>
                                                                                                                                                                                                                    </div>
                            <p class="foods">
                                <i class="fa fa-cutlery"></i>
                                <span> 三餐</span>
                            </p>
                            <div class="txt bottom-unline">
                                      <span class="info">
                                        早餐：不含                                          &nbsp;午餐：不含 &nbsp;晚餐：不含                                      </span>
                            </div>
                            <p class="stay">
                                <i class="fa fa-institution"></i>
                                <span>住宿</span>
                            </p>
                            <div class="txt bottom-unline">
                                <span class="info">指定酒店</span>
                            </div>
                            <div class="line-btm">
                                <a href="javascript:;" class="line-down"><i class="fa fa-angle-up fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                                    <div class="place box">
                        <i class="fa fa-circle-o"></i>
                        <p class="place-title box">
                            <span>DAY2&nbsp;&nbsp;</span>
                            桐庐&nbsp;
                            <i style="color:#ff756e; " class="fa fa-bus"></i>&nbsp;&nbsp;淳安&nbsp;
                            <i style="color:#ff756e; " class="fa fa-bus"></i>&nbsp;&nbsp;南京                        </p>
                        <p class="line-xcms">
                            行程描述:
                            <a href="javascript:;" class="line-top">
                                <i class="fa fa-angle-down fa-lg"></i>
                            </a>
                        </p>
                        <div class="txt bottom-unline none">
                            <span>赴淳安约80公里90分钟。游天下第一秀水—【千岛湖】（自理）<br />
誉为“千岛碧水画中游”。湖面开阔，一碧万顷，岛屿棋布；大岛如山，小岛如船，个个清脆欲滴，像一块块半浸在湖中的碧玉。天然矿泉水“农夫山泉”就取自千岛湖70米深处。乘船游览千岛湖中心湖区3—4岛屿。<br />
结束愉快旅程，S31杭新景高速转G25宁杭高速约440公里390分钟20：30左右回到温馨的家！返程只停花神庙地铁站及新街口附近，沿途及长途东站不停 </span>
                            <div class="photo-list-wrap box clearfix">
                                                                                                                                                        <div class="photo box">
                                                <img alt="" class="lazy" onerror="this.error=null;this.src='http://nbbc.66diqiu.com/static/public/images/nophoto.jpg'" src="http://photo.66diqiu.com/uploads/756/ue/image/20141222/1419216610744697.jpg" style="display: inline-block;">
                                                <p class="img-title">淳安千岛湖</p>
                                            </div>
                                                                                                                                                                <div class="photo box">
                                                <img alt="" class="lazy" onerror="this.error=null;this.src='http://nbbc.66diqiu.com/static/public/images/nophoto.jpg'" src="http://photo.66diqiu.com/uploads/756/ue/image/20141222/1419216612209067.jpg" style="display: inline-block;">
                                                <p class="img-title">淳安千岛湖</p>
                                            </div>
                                                                                                                                                                                                                    </div>
                            <p class="foods">
                                <i class="fa fa-cutlery"></i>
                                <span> 三餐</span>
                            </p>
                            <div class="txt bottom-unline">
                                      <span class="info">
                                        早餐：含                                          &nbsp;午餐：不含 &nbsp;晚餐：不含                                      </span>
                            </div>
                            <p class="stay">
                                <i class="fa fa-institution"></i>
                                <span>住宿</span>
                            </p>
                            <div class="txt bottom-unline">
                                <span class="info">温馨的家</span>
                            </div>
                            <div class="line-btm">
                                <a href="javascript:;" class="line-down"><i class="fa fa-angle-up fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                            </div>
        </div>
    </section>
    <!-- 温馨提示 -->
    <section class="detail-prompt">
        <div class="title box">
            <i class="fa fa-heart-o"></i>
            <span>温馨提示</span>
        </div>
        <div class="prompt-content box" >
                            <div><p>【费用包含】</p><span>1.交通:往返旅游巴士<br />
2.住宿:行程所列酒店。<br />
3.门票:行程中所含的景点首道大门票，详情见形程描述。<br />
4.导服:全程陪同中文导游，自由活动期间除外。<br />
5.儿童价标准:身高0~1.2米（含），不占床，只含车位费和导服费，其余自理。</span> </div>
                                        <div><p>【费用不包含】</p><span>1.单房差:单房差。<br />
2.门票:行程中注明需要另行支付的自费景点（千岛湖，瑶琳仙境）。<br />
3.其他:用餐敬请自理<br />
4.补充:因交通延阻、罢工、天气、飞机机器故障、航班取消或更改时间等不可抗力原因所引致的额外费用,酒店内洗衣、理发、电话、传真、收费电视、饮品、烟酒等个人消费,当地参加的自费以及以上"费用包含"中不包含的其它项目<br />
5.旅游意外险:旅游人身意外保险</span> </div>
                                        <div><p>【友情提醒】</p><span>当地购物时请慎重考虑，把握好质量与价格，务必索要发票。</span> </div>
                                                                                                        </div>
    </section>
</div>
<!--页面内容结束-->


<script type="text/javascript">
    //出发团期无显示
    console.log($(".date-content-top span").html()=="最近团期：");
    if($(".date-content-top span").html()=="最近团期："){
        $(".date-content-top span").html("最近团期：暂无");
        $(".date-content .chek").hide();
    }

    //出发团期查看详情
    $(function(){
        $(".chek-date").click(function(){
            $(".tab").toggle();
            $(".date-content-top").toggle();
            if($(".chek-date em").html()=="收起"){
                $(".chek-date em").html("查看详情");
                $(".chek-date i").removeClass("fa-angle-up");
                $(".chek-date i").addClass("fa-angle-down");
                $('body,html').animate({scrollTop:0},50);
            }else{
                $(".chek-date em").html("收起");
                $(".chek-date i").removeClass("fa-angle-down");
                $(".chek-date i").addClass("fa-angle-up");
            }
        })
    })
    //行程介绍展开收起详情
    $(function(){
        $(".line-top").click(function(){
            $(this).parent().parent().find(".bottom-unline").show();
            $(this).hide();
        });
        $(".line-btm").click(function(){
            $(this).parent().parent().parent().find(".bottom-unline").hide();
            $(this).parent().parent().parent().find(".line-top").show();
        });

    })

    $(function(){

        var url = 'http://nbbc.66diqiu.com/mobile/member/add_favourite';
         var id = '933489';
         var title = '【测试】千岛湖-杭州西湖-花港观鱼-桐庐瑶琳仙境-奇幻灯光秀2日游';
        var del_url = 'http://nbbc.66diqiu.com/mobile/member/delete_favourite';

        $('#js-add-favourite').click(function(){
            var obj = $(this);
            if(!USERID){
                $.dialog({
                    style:'tip',
                    width:200,
                    closeTime:1000,
                    content: '<p style="text-align: center;font-size: 14px;">您还没有登录,不能操作</p>'
                }).open();
                return false;
            }

            var value = obj.attr('data-value');

            if(value == 0)
            {
                $.get(url+(url.indexOf("?") > -1 ? "&" : "?")+'type=1&id='+id+'&title='+title, function(data){

                    if(data.status.length>0){
                        $.dialog({
                            style:'tip',
                            width:200,
                            closeTime:1000,
                            content: '<p style="text-align: center;font-size: 14px;">'+data.msg+'</p>'
                        }).open();
                        obj.addClass('favon');
//                        obj.find("i").removeClass("fa-star-o").addClass("fa-star");
                        obj.attr('data-value',data.data);
                    }
                },'json');
            }else {
                $.get(del_url+(url.indexOf("?") > -1 ? "&" : "?")+'id='+value, function(data){

                    if(data.status.length>0){
                        $.dialog({
                            style:'tip',
                            width:200,
                            closeTime:1000,
                            content: '<p style="text-align: center;font-size: 14px;">取消收藏成功</p>'
                        }).open();
                        if(data.status=='1'){
                            obj.removeClass('favon');
//                            obj.find("i").removeClass("fa-star").addClass("fa-star-o");
                            obj.attr('data-value',0);
                        }
                    }
                },'json');
            }
        });
    })
</script>


<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
var title='【测试】千岛湖-杭州西湖-花港观鱼-桐庐瑶琳仙境-奇幻灯光秀2日游', desc='销售价0起, “上有天堂，下有苏杭”。著名的意大利旅行家马可波罗称杭州为“最美丽华贵的城市”。 千岛湖镇是一座湖泊中的绿色之城，和谐之城、魅力之城。桐庐县，镶嵌在浙西北的翡翠，撒落在富春江畔的一颗璀璨明珠！', link='http://nbbc.66diqiu.com/mobile/line/profile?id=933489',imgUrl='http://photo.66diqiu.com/uploads/756/ue/image/20141222/1419216610744697.jpg';
wx.config({
    debug:false,
    appId: 'wxd7990da72a3de1a9',
    timestamp: 1503577589,
    nonceStr: 'wx599ec5f540c0e',
    signature: 'd79f96c945d742e75c61396874f6096590769f57',
    jsApiList: [
        'onMenuShareTimeline',
        'onMenuShareAppMessage',
        'onMenuShareQQ',
        'onMenuShareWeibo'
    ]
});
function todoaftershare() {
    $.get("http://nbbc.66diqiu.com/line/line/update_line_shares&line_id=933489&ingore=1",function(data){
        
  });
}
wx.ready(function () {
    wx.onMenuShareAppMessage({title: title,desc: desc,link: link,imgUrl: imgUrl,success:function(){    todoaftershare();}});
    wx.onMenuShareTimeline({title: title,link: link,imgUrl: imgUrl,success:function(){    todoaftershare();}  });
    wx.onMenuShareQQ({title: title,desc: desc,link: link,imgUrl: imgUrl,success:function(){    todoaftershare();}   });
    wx.onMenuShareWeibo({title: title,desc: desc,link: link,imgUrl: imgUrl,success:function(){    todoaftershare();}   });
});
</script>